.page__wrapper__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__header {
  margin-bottom: 0.5rem;
}
.contacts__email {
  font-weight: 400;
}

.contacts__link svg {
  width: 48px;
  height: 48px;
  margin: 5rem 0;
}

.contacts__link {
  text-decoration: none;
}
