.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.page_vertical {
  flex-direction: column;
}

.half {
  min-height: 50vh;
}

.page__wrapper {
  width: 60%;
  text-align: center;
}

.page__header {
  text-transform: uppercase;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .page__wrapper {
    width: 100%;
  }
}

.page__wrapper_fixed {
  width: 100vh;
}
