.profile-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-page__image-container {
  flex: 0 0 40%;
  margin: 5%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  overflow: hidden;
  height: 50%;
  border-radius: 10px;
}

.profile-page__image {
  width: 100%;
  height: auto;
}
.profile-page__info {
  padding: 10%;
  text-align: center;
}
.profile-page__info h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.profile-page h2 {
  text-transform: lowercase;
  color: grey;
  font-weight: 300;
  font-size: 1rem;
}
.profile-page__info p {
  max-width: 400px;
  font-size: 1.3rem;
}
.profile-page__info span {
  margin: 1rem auto;
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ccc;
}

@media (max-width: 767px) {
  .profile-page {
    flex-flow: column nowrap;
    justify-content: space-around;
  }
}
